node_modules
dist
dist-server
dist-ssr
.vite
.vercel
test-results
*.tsbuildinfo
vite.config.js
vite.config.d.ts
playwright.config.js
playwright.config.d.ts
.env
.env.local
.env.*.local
.DS_Store
*.log
.idea
.vscode
